<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/a44ac01a42.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <section class="container">
        <h1>Create Your VERY OWN Todolist!</h1>
        <div class="logs">
            <a href="/login"><i class="lbuttons fa-solid fa-right-to-bracket"></i></a>
            <a href="/signup"><i class="lbuttons fa-solid fa-user-plus"></i></a>
        </div>
    </section>
</body>
</html>