<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/a44ac01a42.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>
<body class="bodyIndex">
    <section class="container loginCon">
        <section class="logSec1">
            <h1>Log In</h1>
            <p><i class="fa-regular fa-face-laugh-wink"></i></p>
        </section>
        <section class="logSec2">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/login" method="POST">
                <input class="input" type="email" name="email" placeholder="Email">
                <input class="input" type="password" name="password" placeholder="Password">
                <input class="submit" type="submit">
            </form>
        </section>
    </section>
</body>
</html>